ion-content{
    --background: url(http://www.clker.com/cliparts/d/7/7/e/1422440518545810646pink%20yellowish%20orange%20background%20wallpaper%20android-hi.png);
    --background-repeat: no-repeat;
    --background-size: cover;  
    }

ion-item{
    --background: #58423569;
}