<ion-content class="myClassName">
  <ion-card>
    <ion-item lines="none" text-center>

      <ion-img src="https://www.companyfolders.com/blog/media/2015/01/adidas-300x207.jpg"></ion-img>

    </ion-item>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">User Name</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <br>
    <div text-center margin-top>
        <ion-button margin-right (click)="signUp()">
          SIGN UP
        </ion-button>
    
        <ion-button color="secondary" (click)="loginUser()">
          SIGN IN
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>