<ion-header>
  <ion-toolbar>
      <!-- <ion-buttons slot="start">
          <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
        </ion-buttons> -->
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button (click)="presentModal()">Open Modal</ion-button>

    <ion-button (click)="logoutUser()">
        Logout
      </ion-button>
      <ion-button (click)="gotoPage()">
          Open Home page
        </ion-button>
</ion-content>
