<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
          </ion-buttons>
      <ion-title>Home Page 1</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  <h3> Welcome to home page</h3>
  </ion-content>
  

